.item img {
    width: 100%;
    height: 150px;
}
#container {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
#financial-plan {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background-image: url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2024/12/12/9d03183d-0607-4cba-8364-54342ade8219_622190.jpg);
    text-align: center;
    color: white;
}