#pricing-header{
    text-align:center;
    font-size: large;
    padding:2px;
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
   


}
#pricing-header h4{
    color : yellow;
    font-weight: bold;
}

#pricing div i{
    font-size: 15px;

} 
#pricing div {
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
    width:150px;
    box-shadow: 2px 2px 5px grey;

    
}
#pricing div button{
    background-color: orange;
    border: 2px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    display: flex; 
}
#pricing{
    display: flex;
    justify-content: center;
    gap:20px;
}
.active{
    order: 3;
    flex:0.25;
}
body{
    background-color: rgb(237, 232, 232);
        
}