#parent {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 1px solid black;
    margin: 100px;

}
#parent img {
    height: 100%;
}

.child{
    position: absolute;
    border-radius:10px;
    font-size: 20px;
    padding: 20px;
    width: 70%;
    top: 35rem;
    left: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

}
.grand-child {
    background-color: white;
    text-align: center;
}

